
<div id="WPht4" skin="wysiwyg.viewer.skins.photo.NoSkinPhoto" comp="wysiwyg.viewer.components.WPhoto" dataquery="#c19s6" 
propertyquery="#WPht4" width="240" height="130" x="372" y="26" scale="1" angle="0" styleid="wp2" state="noTouch" 
class="wysiwyg_viewer_skins_photo_NoSkinPhotowp2 " 
title="" style="visibility: visible; left: 372px; top: 26px; min-width: 240px; min-height: 129px; position: absolute;">


<a skinpart="link" class="wysiwyg_viewer_skins_photo_NoSkinPhotowp2-link" style="cursor: default;">
  <div skinpart="img" skin="skins.core.ImageNewSkinZoomable" comp="core.components.image.ImageNew" id="mgNw0-15r3" styleid="" 
  class="skins_core_ImageNewSkinZoomable" dataquery="#c19s6" style="visibility: visible; width: 240px; height: 129px;">
  <img skinpart="image" class="skins_core_ImageNewSkinZoomable-image" 
  alt="" src="http://static.wixstatic.com/media/41d000_884a2cfdd22eef3773ab41cd174e62eb.png_srz_p_240_129_75_22_0.50_1.20_0.00_png_srz"style="margin-top: 0px; margin-left: 0px; width: 240px; height: 129px;">
  </div>
</a>
</div>

<div id="WRchTxt1" comp="wysiwyg.viewer.components.WRichText" dataquery="#c2x1" width="145" height="40" x="425" y="9" scale="1" 
angle="0" styleid="txt1" skin="wysiwyg.viewer.skins.WRichTextSkin" class="wysiwyg_viewer_skins_WRichTextSkintxt1" 
style="visibility: visible; left: 425px; top: 9px; width: 145px; min-height: 40px; position: absolute;">

<div skinpart="richTextContainer" class="richTextContainer wysiwyg_viewer_skins_WRichTextSkintxt1-richTextContainer">
  <p class="alignCenter" style="">
  <span class="font_0"><span class="color_20">LORENZI</span></span></p>
<p>
  &nbsp;</p>
</div>
</div>


