// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.color_20 {
color: rgb(47, 46, 42);
}

.alignCenter {
text-align: center;
}

.font_0 {
font: normal normal normal 33px/1.4em 'eb garamond', serif;
color: rgb(47, 46, 42);
}

element.style {
visibility: visible;
left: 372px;
top: 26px;
min-width: 240px;
min-height: 129px;
position: absolute;
}
