<div id="mainPage" width="980" height="604" x="0" y="0" scale="1" angle="0" styleid="p1" class="main_page">

<div id="contact_text" width="585" height="49" x="50" y="30" scale="1" angle="0" styleid="txtNew"class="who_text" style="visibility: visible; left: 50px; top: 30px; width: 585px; min-height: 49px; position: absolute;">
  <h2 style="line-height: 1.4em;" class="font_2">
    <span style="line-height: 1.4em;"><span color="color_0">Contact</span></span>
  </h2>
</div>

<div id="contact_line" width="938" height="5" x="20" y="83" scale="1" angle="0" styleid="hl1" state="" class="wysiwyg_viewer_skins_line_DoubleLinehl1" style="visibility: visible; left: 20px; top: 110px; min-width: 938px; min-height: 5px; position: absolute;" propertyquery="#FvGrdLn0">
  <div skinpart="line" class="who_DoubleLine"></div>
</div>


<div id="contact_shadow" width="980" height="5" x="0" y="93" scale="1" angle="0" styleid="hl2" state="" style="visibility: visible; left: 0px; top: 93px; min-width: 980px; min-height: 5px; position: absolute;">
  <div skinpart="line" class="shadow_underline"></div>
</div>

</div>