<div id="mainPage" width="980" height="604" x="0" y="0" scale="1" angle="0" styleid="p1" class="main_page">
  

<div id="contact_text" width="585" height="49" x="50" y="30" scale="1" angle="0" styleid="txtNew"class="who_text" style="visibility: visible; left: 50px; top: 30px; width: 585px; min-height: 49px; position: absolute;">
  <h2 style="line-height: 1.4em;" class="font_2">
    <span style="line-height: 1.4em;"><span color="color_0">Contact</span></span>
  </h2>
</div>

<div id="contact_line" width="938" height="5" x="20" y="83" scale="1" angle="0" styleid="hl1" state="" class="wysiwyg_viewer_skins_line_DoubleLinehl1" style="visibility: visible; left: 20px; top: 110px; min-width: 938px; min-height: 5px; position: absolute;" propertyquery="#FvGrdLn0">
  <div skinpart="line" class="who_DoubleLine"></div>
</div>




<div id="contact_text" width="245" height="250" x="50" y="111" scale="1" angle="0" styleid="txtNew" class="who_text" style="visibility: visible; left: 50px; top: 111px; width: 245px; min-height: 250px; position: absolute;">

  <p class="font_7" style="line-height: 2.25em;"><span style="line-height: 1.4em;"><span class="color_20">​LORENZI</span></span></p>
  <h5 class="font_5" style="line-height: 1.4em;"><span style="line-height: 1.4em;"><span class="color_20">​Cucina Authentica</span></span></h5>
  <h5 class="font_5">​</h5>
  <p class="font_8">500 Terry Francois Street</p>
  <p class="font_8">San Francisco, CA &nbsp;94158</p>
  <p class="font_8">info@mysite.com</p>
  <p class="font_8" style="line-height: 1.5em;"><span style="line-height:1.5em;"><span class="color_20">Tel: 123-456-7890<br>
  Fax: 123-456-7890</span></span></p>
</div>

<div id="contact_form" width="601" height="278" x="339" y="115" scale="1" angle="0" styleid="cf2" state="left desktop visible" class="wysiwyg_viewer_skins_contactform_BasicContactFormSkincf2 " style="visibility: visible; left: 339px; top: 115px; min-width: 601px; min-height: 275px; position: absolute;">
  <div skinpart="wrapper" class="wysiwyg_viewer_skins_contactform_BasicContactFormSkincf2-wrapper">
    <input type="text" skinpart="name" name="Name" class="required" placeholder="Name" autocomplete="off">
    <input type="text" skinpart="email" name="Email" class="required" placeholder="Email">
    <input type="text" skinpart="phone" hidden="" name="Phone" class="hidden" placeholder="Phone">
    <input type="text" skinpart="address" hidden="" name="Address" class="hidden" placeholder="Address">
    <input type="text" skinpart="subject" name="Subject" class="" placeholder="Subject">
    <textarea skinpart="message" name="Message" class="" placeholder="Message"></textarea>
    <button skinpart="submit">Send</button>
    <span skinpart="notifications"></span>
  </div>
</div>




</div>
