

<div id="mainPage" width="980" height="604" x="0" y="0" scale="1" angle="0" styleid="p1" class="main_page">


<div skinpart="bg" class="wysiwyg_viewer_skins_page_TransparentPageSkinp1-bg"></div>
<div skinpart="inlineContent" class="wysiwyg_viewer_skins_page_TransparentPageSkinp1-inlineContent">

<!..controls 3..>
<!..ctrl 0..>
<div id="Cntnr0" width="305" height="193" x="20" y="420" scale="1" angle="0" styleid="c4" state="desktopView" class="ShadowControl" style="visibility: visible; left: 20px; top: 420px; min-width: 305px; min-height: 192px; position: absolute;">

<div class="ShadowControl ShadowControl_left"></div>
<div class="ShadowControl ShadowControl_right"></div>
<div skinpart="bg" class="ShadowControl_bg"></div>
<div skinpart="inlineContent" class="ShadowControl_inlineContent">

<div id="Controltext1" width="240" height="143" x="30" y="7" scale="1" angle="0" styleid="txtNew" class="RichTextNew">
<h4 style="line-height: 1.5em; text-align: center;" class="font_4">
<span style="line-height:1.5em;">
<span class="color_21">Who We Are</span></span></h4>
<p style="text-align: center; line-height: 1.5em; margin-top:2px;" class="font_8">
<span style="line-height:1.5em;">
<span class="color_16">I'm a paragraph. Click here to add your own text and edit me. I’m a great place for you to tell a story and let your users know a little more about you.</span></span></p>
</div>
<div id="Submitbutton1" width="130" height="30" x="87" y="153" scale="1" angle="0" styleid="b2" tabindex="0" class="submit_but01">
<a class="read_link" href="#!who_we_are/c1alk" target="_self" style="text-align: center; cursor: pointer;">
<span class="read_label" style="line-height: 30px;">Read More &gt;</span></a>
</div></div></div>

<!..ctrl 1..>
<div id="Cntnr1" width="305" height="193" x="337" y="420" scale="1" angle="0" styleid="c4" state="desktopView" class="ShadowControl" style="visibility: visible; left: 337px; top: 420px; min-width: 305px; min-height: 192px; position: absolute;">

<div class="ShadowControl ShadowControl_left"></div>
<div class="ShadowControl ShadowControl_right"></div>
<div skinpart="bg" class="ShadowControl_bg"></div>
<div skinpart="inlineContent" class="ShadowControl_inlineContent">

<div id="ControlText2" width="240" height="143" x="34" y="7" scale="1" angle="0" styleid="txtNew" class="RichTextNew">
<h4 style="line-height: 1.5em; text-align: center;" class="font_4">
<span style="line-height:1.5em;"><span class="color_21">Our Sauces</span></span></h4>
<p style="text-align: center; line-height: 1.5em; margin-top:2px;" class="font_8">
  <span style="line-height:1.5em;">
<span class="color_16">I'm a paragraph. Click here to add your own text and edit me. I’m a great place for you to tell a story and let your users know a little more about you.</span></span></p>

</div><div id="SubmitButton2" width="130" height="30" x="89" y="152" scale="1" angle="0" styleid="b2"  tabindex="0" class="submit_but02">
<a class="read_link" href="#!our_sauces/cvc5" target="_self" style="text-align: center; cursor: pointer;">
<span class="read_label" style="line-height: 30px;">Read More &gt;</span></a>
</div></div></div>

<!..ctrl 2..>
<div id="Cntnr2" width="305" height="193" x="653" y="420" scale="1" angle="0" styleid="c4" state="desktopView" class="ShadowControl" style="visibility: visible; left: 653px; top: 420px; min-width: 305px; min-height: 192px; position: absolute;">

<div class="ShadowControl ShadowControl_left"></div>
<div class="ShadowControl ShadowControl_right"></div>
<div skinpart="bg" class="ShadowControl_bg"></div>
<div skinpart="inlineContent" class="ShadowControl_inlineContent">

<div id="ContentText3" width="240" height="143" x="34" y="8" scale="1" angle="0" styleid="txtNew" class="RichTextNew" >
<h4 style="line-height: 1.5em; text-align: center;" class="font_4"><span style="line-height:1.5em;">
<span class="color_21">Recipes</span></span></h4>
<p style="text-align: center; line-height: 1.5em; margin-top:2px;" class="font_8"><span style="line-height:1.5em;">
<span class="color_16">I'm a paragraph. Click here to add your own text and edit me. I’m a great place for you to tell a story and let your users know a little more about you.</span></span></p></div>

<div id="SubmitButton2" width="130" height="30" x="87" y="154" scale="1" angle="0" styleid="b2" tabindex="0" class="submit_but03" style=""><a class="read_link" href="#!recipes/c3zk" target="_self" style="text-align: center; cursor: pointer;">
<span class="read_label" style="line-height: 30px;">Read More &gt;</span></a>
</div></div></div>

<!..image..>


<div id="ImageContainer" class = "mainPageClass" width="960" height="415" x="11" y="40" scale="1" angle="0" styleid="wp2" state="noTouch" title="" style="visibility: visible; left: 11px; top: 40px; min-width: 960px; min-height: 415px; position: absolute;">

<img skinpart="image" alt="" src="http://static.wixstatic.com/media/41d000_71ed70cbd53f0e9bd17e625d82df8ab1.png_srz_p_960_415_75_22_0.50_1.20_0.00_png_srz" style="margin-top: 0px; margin-left: 0px; width: 960px; height: 415px;">
</div></a>
</div></div>