<div id="mainPage" width="980" height="604" x="0" y="0" scale="1" angle="0" styleid="p1" class="main_page">

<div id="recipes_text" width="585" height="49" x="50" y="30" scale="1" angle="0" styleid="txtNew" class="who_text" style="visibility: visible; left: 50px; top: 30px; width: 585px; min-height: 49px; position: absolute;">
  <h2 style="line-height: 1.4em;" class="font_2">
    <span style="line-height: 1.4em;"><span color="color_0">Recipes</span></span>
  </h2>
</div>

<div id="recipes_line" width="938" height="5" x="20" y="83" scale="1" angle="0" styleid="hl1" state="" style="visibility: visible; left: 20px; top: 110px; min-width: 938px; min-height: 5px; position: absolute;">
  <div skinpart="line" class="who_DoubleLine"></div>
</div>

<div id="recipes_shadow" width="980" height="5" x="0" y="93" scale="1" angle="0" styleid="hl2" state="" style="visibility: visible; left: 0px; top: 120px; min-width: 980px; min-height: 5px; position: absolute;">
  <div skinpart="line" class="shadow_underline"></div>
</div>

<div id="recipes_head" width="185" height="58" x="50" y="125" scale="1" angle="0" styleid="txt1" class="who_nametext" style="visibility: visible; left: 50px; top: 125px; width: 185px; min-height: 58px; position: absolute;">
  <div skinpart="richTextContainer" class="richTextContainer who_nametext">
    <p>
      <span class="font_4">Lasagna</span>
    </p>
  </div>
</div>

<div id="recipe_image" width="650" height="260" x="50" y="194" scale="1" angle="0" styleid="wp1" state="noTouch" style="visibility: visible; left: 50px; top: 194px; min-width: 650px; min-height: 260px; position: absolute;" title="">
    <div class="who_LiftedShadowPhoto who_LiftedShadowPhoto_left"></div>
    <div class="who_LiftedShadowPhoto who_LiftedShadowPhoto_right"></div>
  <a skinpart="link" class="who_LiftedShadowPhoto_link" style="cursor: default;">
    <div skinpart="img" class="wysiwyg_viewer_skins_photo_LiftedShadowPhotowp1-img skins_core_ImageNewSkinZoomable" comp="core.components.image.ImageNew" id="mgNw8-7m7" styleid="" style="visibility: visible; width: 650px; height: 260px;">
      <img skinpart="image" class="skins_core_ImageNewSkinZoomable-image" alt="" src="http://static.wixstatic.com/media/41d000_706bf92766f53d5b33e5d5a0b8425c5e.jpg_srz_p_650_260_75_22_0.50_1.20_0.00_jpg_srz" style="margin-top: 0px; margin-left: 0px; width: 650px; height: 260px;">
    </div>
  </a>
</div>

<div id="recipe_texta" width="225" height="517" x="727" y="189" scale="1" angle="0" styleid="txtNew" class="who_text" style="visibility: visible; left: 727px; top: 189px; width: 225px; min-height: 517px; position: absolute;">
  <p style="line-height: 1.4em; text-align: justify;" class="font_7">
  <span style="line-height: 1.4em;">Ingredients:﻿</span></p>
  <p style="line-height: 1.6em; text-align: justify;" class="font_8">
    <span style="line-height:1.6em;">﻿
      <span class="CSS1Compat">
        <span style="text-align: justify;">1 pound sweet Italian sausage</span>
      </span>
    </span>
  </p>
  <p style="line-height: 1.6em; text-align: justify;" class="font_8">
    <span style="line-height:1.6em;">3/4 pound lean ground beef<br>
      1/2 cup minced onion<br>
      2 cloves garlic, crushed<br>
      1 (28 ounce) can crushed tomatoes<br>
      2 (6 ounce) cans tomato paste<br>
      2 (6.5 ounce) cans canned tomato sauce<br>
      1/2 cup water<br>
      2 tablespoons white sugar<br>
      1 1/2 teaspoons dried basil leaves
    </span>
  </p>
  <p style="line-height: 1.6em; text-align: justify;" class="font_8"><span style="line-height:1.6em;">﻿1/2 teaspoon fennel seeds</span>
  </p>
  <p style="line-height: 1.6em;" class="font_8">
    <span style="line-height:1.6em;">1 teaspoon Italian seasoning<br>
      1 tablespoon salt<br>
      1/4 teaspoon ground black pepper<br>
      4 tablespoons chopped fresh parsley<br>
      12 lasagna noodles<br>
      16 ounces ricotta cheese<br>
      1 egg<br>
      1/2 teaspoon salt<br>
      3/4 pound mozzarella cheese, sliced<br>
      3/4 cup grated Parmesan cheese
    </span>
  </p>
</div>

<div id="recipes_textb" width="645" height="403" x="50" y="479" scale="1" angle="0" styleid="txtNew" class="who_text" style="visibility: visible; left: 50px; top: 479px; width: 645px; min-height: 403px; position: absolute;">
  <p style="line-height: 1.4em; text-align: justify;" class="font_7">
    <span style="line-height: 1.4em;">Instructions:</span>
  </p>
<p style="line-height: 1.6em; text-align: justify;" class="font_8">
  <span style="line-height:1.6em;">In a Dutch oven, cook sausage, ground beef, onion, and garlic over medium heat until well browned. Stir in crushed tomatoes, tomato paste, tomato sauce, and water. Season with sugar, basil, fennel seeds, Italian seasoning, 1 tablespoon salt, pepper, and 2 tablespoons parsley. Simmer, covered, for about 1 1/2 hours, stirring occasionally.<br>
Bring a large pot of lightly salted water to a boil. Cook lasagna noodles in boiling water for 8 to 10 minutes. Drain noodles, and rinse with cold water. In a mixing bowl, combine ricotta cheese with egg, remaining parsley, and 1/2 teaspoon salt.<br>
Preheat oven to 375 degrees F (190 degrees C).<br>
To assemble, spread 1 1/2 cups of meat sauce in the bottom of a 9x13 inch baking dish. Arrange 6 noodles lengthwise over meat sauce. Spread with one half of the ricotta cheese mixture. Top with a third of mozzarella cheese slices. Spoon 1 1/2 cups meat sauce over mozzarella, and sprinkle with 1/4 cup Parmesan cheese. Repeat layers, and top with remaining mozzarella and Parmesan cheese. Cover with foil: to prevent sticking, either spray foil with cooking spray, or make sure the foil does not touch the cheese.<br>
Bake in preheated oven for 25 minutes. Remove foil, and bake an additional 25 minutes. Cool for 15 minutes before serving.</span>
</p>
<p style="text-align: justify;" class="font_7">&nbsp;</p>
<p style="line-height: 1.4em; text-align: justify;" class="font_8"><span style="line-height: 1.4em;">﻿</span>
</p>
</div>




</div>