<div id="mainPage" width="980" height="604" x="0" y="0" scale="1" angle="0" styleid="p1" class="main_page">

<!..Who Image..>

<div id="WhoImageContainer" width="335" height="415" x="30" y="46" scale="1" angle="0" styleid="wp1" state="noTouch" style="visibility: visible; left: 30px; top: 46px; min-width: 335px; min-height: 415px; position: absolute;" title="">
    <div class="who_LiftedShadowPhoto who_LiftedShadowPhoto_left"></div>
    <div class="who_LiftedShadowPhoto who_LiftedShadowPhoto_right"></div>
  <a skinpart="link" class="who_LiftedShadowPhoto_link" style="cursor: default;">
    <div skinpart="img" class="who_LiftedShadowPhoto-img skins_core_ImageNewSkinZoomable" styleid="" style="visibility: visible; width: 335px; height: 415px;">
    <img skinpart="image" class="skins_core_ImageNewSkinZoomable-image" alt="" src="http://static.wixstatic.com/media/41d000_b8035ff701bee905cd19295c8e0e4021.jpg_srz_p_335_415_75_22_0.50_1.20_0.00_jpg_srz" style="margin-top: 0px; margin-left: 0px; width: 335px; height: 415px;">
    </div>
  </a>
</div>

<!..double line..>
<div id="Who_line" width="480" height="5" x="396" y="83" scale="1" angle="0" styleid="hl1" state="" style="visibility: visible; left: 396px; top: 110px; min-width: 480px; min-height: 9px; position: absolute;">
  <div skinpart="line" class="who_DoubleLine"></div>
</div>

<!..Who text..>
<div id="Whotext" width="480" height="49" x="400" y="32" scale="1" angle="0" styleid="txtNew" class="who_text" style="visibility: visible; left: 400px; top: 32px; width: 480px; min-height: 49px; position: absolute;">
  <h2 style="line-height: 1.4em;" class="font_2">
    <span style="line-height: 1.4em;">
    <span color="color_0">Who We Are</span></span></h2>
</div>

<!..who paragraph..>
<div id="who_content" width="501" height="275" x="400" y="111" scale="1" angle="0" styleid="txtNew"class="      who_text" style="visibility: visible; left: 400px; top: 140px; width: 501px; min-height: 275px;         position: absolute;">
  <p style="line-height: 1.5em;" class="font_7">
      <span style="line-height:1.5em;">I'm a paragraph. Click here to add your own text and edit me.​</span>
  </p>
  <p style="line-height: 1.5em;" class="font_7"><span style="line-height:1.5em;">​</span></p>
  <p style="line-height: 1.5em;" class="font_8"><span style="line-height:1.5em;">
  <span color="color_0">It’s easy. Just click “Edit Text” or double click me and you can start adding your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.</span></span>
  </p>
  <p style="line-height: 1.5em;" class="font_8"><span style="line-height:1.5em;">​</span></p>
  <p style="line-height: 1.5em;" class="font_8"><span style="line-height:1.5em;"><span color="color_0">This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors. Make your company stand out and show your visitors who you are. Tip: Add your own image by double clicking the image and clicking Change Image</span></span>
  </p>
</div>

<!..who_name..>
<div id="who_name" width="240" height="60" x="685" y="422" scale="1" angle="0" styleid="txt1" style="visibility: visible; left: 685px; top: 422px; width: 240px; min-height: 60px; position: absolute;">
  <div class="who_nametext">
    <p class="alignCenter" style="">
      <span class="font_4"><span class="color_20">Roberto Lorenzi</span></span></p>
  </div>
</div>




</div>