<!DOCTYPE html>
<html>
<head>
  <title>Form</title>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

  <script>

      $(document).ready(function() {
        $(".page-link").on("click", function(e) {
        $(".page").fadeOut(250);
        setTimeout(function() { $($(e.currentTarget).attr("href")).fadeIn(250); }, 250);
      });
      });
  </script>
  
 
</head>
<body>


<style type="text/css">



body {
font-size: 10px;
font-family: Arial,Helvetica,sans-serif;
}



.wysiwyg_common_components_dropdownmenu_viewer_skins_SolidColorMenuButtonSkinddm2-itemsContainer {
background-color: transparent;
border-radius: 6px 6px 0px 0px;
border: 0px solid rgb(47, 46, 42);
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
position: relative;
}




.wysiwyg_viewer_skins_dropmenubutton_SolidColorMenuButtonNSkinddm2[state="selected"] {
background-color: rgb(47, 46, 42);
transition: background-color 0.4s ease 0s;
-webkit-transition: background-color 0.4s ease 0s;
}

.wysiwyg_viewer_skins_dropmenubutton_SolidColorMenuButtonNSkinddm2[listposition="left"] {
border-radius: 6px 0px 0px;
}



.wysiwyg_viewer_skins_dropmenubutton_SolidColorMenuButtonNSkinddm2 {
display: inline-block;
cursor: pointer;
}




.Style Attribute {
text-align: center;
white-space: nowrap;
}

.wysiwyg_viewer_skins_dropmenubutton_SolidColorMenuButtonNSkinddm2:first-child .wysiwyg_viewer_skins_dropmenubutton_SolidColorMenuButtonNSkinddm2-c-gapper {
border: none;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
}

.wysiwyg_viewer_skins_dropmenubutton_SolidColorMenuButtonNSkinddm2-c-gapper {
padding: 0px;
}

.wysiwyg_viewer_skins_dropmenubutton_SolidColorMenuButtonNSkinddm2 {
cursor: pointer;
transition: background-color 0.4s ease 0s;
-webkit-transition: background-color 0.4s ease 0s;
}




.wysiwyg_viewer_skins_dropmenubutton_SolidColorMenuButtonNSkinddm2 {
display: inline-block;
cursor: pointer;

}

.wysiwyg_viewer_skins_dropmenubutton_SolidColorMenuButtonNSkinddm2[state="selected"] .wysiwyg_viewer_skins_dropmenubutton_SolidColorMenuButtonNSkinddm2-label {
color: rgb(231, 215, 176);
transition: color 0.4s ease 0s;
-webkit-transition: color 0.4s ease 0s;
}

wysiwyg_viewer_skins_dropmenubutton_SolidColorMenuButtonNSkinddm2-label {
display: inline-block;
padding: 0px 10px;
font: normal normal normal 16px/1.4em 'eb garamond', serif;
}

p {
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}

div {
display: block;
}

.wysiwyg_viewer_skins_WRichTextNewSkintxtNew {
word-wrap: break-word;
}


.wysiwyg_viewer_skins_dropmenubutton_SolidColorMenuButtonNSkinddm2[state="selected"] {
background-color: rgb(47, 46, 42);
transition: background-color 0.4s ease 0s;
-webkit-transition: background-color 0.4s ease 0s;
}

.wysiwyg_viewer_skins_dropmenubutton_SolidColorMenuButtonNSkinddm2 {
display: inline-block;
cursor: pointer;
}


.wysiwyg_viewer_skins_dropmenubutton_SolidColorMenuButtonNSkinddm2-c-gapper {
padding: 0px;
border-left: 1px solid rgb(47, 46, 42);
}

.wysiwyg_viewer_skins_dropmenubutton_SolidColorMenuButtonNSkinddm2 {
cursor: pointer;
transition: background-color 0.4s ease 0s;
-webkit-transition: background-color 0.4s ease 0s;
}

.wysiwyg_viewer_skins_dropmenubutton_SolidColorMenuButtonNSkinddm2[state="selected"] .wysiwyg_viewer_skins_dropmenubutton_SolidColorMenuButtonNSkinddm2-label {
color: rgb(231, 215, 176);
transition: color 0.4s ease 0s;
-webkit-transition: color 0.4s ease 0s;
}

.wysiwyg_viewer_skins_dropmenubutton_SolidColorMenuButtonNSkinddm2-label {
display: inline-block;
padding: 0px 10px;
font: normal normal normal 16px/1.4em 'eb garamond', serif;
}

.wysiwyg_viewer_skins_dropmenubutton_SolidColorMenuButtonNSkinddm2 {
cursor: pointer;
transition: background-color 0.4s ease 0s;
-webkit-transition: background-color 0.4s ease 0s;
}

.wysiwyg_viewer_skins_dropmenubutton_SolidColorMenuButtonNSkinddm2[state="selected"] {
background-color: rgb(47, 46, 42);
transition: background-color 0.4s ease 0s;
-webkit-transition: background-color 0.4s ease 0s;
}

.wysiwyg_viewer_skins_dropmenubutton_SolidColorMenuButtonNSkinddm2 {
display: inline-block;
cursor: pointer;
}


.wysiwyg_viewer_skins_dropmenubutton_SolidColorMenuButtonNSkinddm2-c-gapper {
padding: 0px;
border-left: 1px solid rgb(47, 46, 42);
}

.wysiwyg_viewer_skins_dropmenubutton_SolidColorMenuButtonNSkinddm2 {
cursor: pointer;
transition: background-color 0.4s ease 0s;
-webkit-transition: background-color 0.4s ease 0s;
}


.wysiwyg_viewer_skins_dropmenubutton_SolidColorMenuButtonNSkinddm2 {
display: inline-block;
cursor: pointer;
background-color: transparent;
transition: background-color 0.4s ease 0s;
-webkit-transition: background-color 0.4s ease 0s;
}





.font_5 {
font-size: 0.9em;
color: rgb(113, 112, 112);
}

h5 {
display: block;
-webkit-margin-before: 1.67em;
-webkit-margin-after: 1.67em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}
h5{

}

.wysiwyg_viewer_skins_WRichTextNewSkintxtNew h5 {
margin: 0px;
letter-spacing: normal;
}

.wysiwyg_viewer_skins_WRichTextNewSkintxtNew a {
color: inherit;
}

a {
cursor: pointer;
text-decoration: none;
}

a:-webkit-any-link {

}

.Style Attribute {
line-height: 0.9em;
}

.Style Attribute {
text-align: center;
}



.color_2 {
color: rgb(0, 0, 0);
}

.font_8 {
font: normal normal normal 14px/1.4em 'eb garamond', serif;
color: rgb(47, 46, 42);
}

.color_20 {
color: rgb(47, 46, 42);
}

.wysiwyg_viewer_skins_WRichTextSkintxt1-richTextContainer {
position: relative;
width: 100%;
height: 100%;
word-wrap: break-word;
}

.alignCenter {
text-align: center;
}

.font_0 {
font: normal normal normal 33px/1.4em 'eb garamond', serif;
color: rgb(47, 46, 42);
}

.Style Attribute {
zoom: 1;
}

.wysiwyg_viewer_skins_area_LiftedShadowAreac4-c-left {
left: -20px;
background-position: 0px 0px;
}

.wysiwyg_viewer_skins_area_LiftedShadowAreac4-c-shd {
position: absolute;
bottom: -26px;
width: 165px;
height: 26px;
background: url(http://static.parastorage.com/services/skins/2.842.5/images/wysiwyg/core/themes/base/liftedshadow_medium.png) no-repeat;
}

.wysiwyg_viewer_skins_area_LiftedShadowAreac4-c-right {
right: -20px;
background-position: 100% 0px;
}

.wysiwyg_viewer_skins_area_LiftedShadowAreac4-c-shd {
position: absolute;
bottom: -26px;
width: 165px;
height: 26px;
background: url(http://static.parastorage.com/services/skins/2.842.5/images/wysiwyg/core/themes/base/liftedshadow_medium.png) no-repeat;
}

.wysiwyg_viewer_skins_area_LiftedShadowAreac4-bg {
position: absolute;
top: 0px;
bottom: 0px;
left: 0px;
right: 0px;
background-color: rgb(47, 46, 42);
border-radius: 5px;
border: 1px solid rgb(47, 46, 42);
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
}

.wysiwyg_viewer_skins_area_LiftedShadowAreac4-inlineContent {
position: absolute;
top: 0px;
bottom: 0px;
left: 0px;
right: 0px;
}

.wysiwyg_viewer_skins_WRichTextNewSkintxtNew {
word-wrap: break-word;
}

.wysiwyg_viewer_skins_WRichTextNewSkintxtNew h4 {
margin: 0px;
letter-spacing: normal;
}

.font_4 {
font: normal;
color: rgb(160, 117, 8);
}

.color_21 {
color: rgb(231, 215, 176);
}

.wysiwyg_viewer_skins_PageGroupSkin {
height: 100px;
width: 100px;
}

.wysiwyg_viewer_skins_PageGroupSkin-inlineContent {
position: absolute;
top: 0px;
bottom: 0px;
left: 0px;
right: 0px;
}

.wysiwyg_viewer_skins_page_TransparentPageSkinp1-bg {
position: absolute;
top: 0px;
bottom: 0px;
left: 0px;
right: 0px;
}

.color_16 {
color: rgb(239, 232, 213);
}



.wysiwyg_viewer_skins_page_TransparentPageSkinp1-inlineContent {
position: absolute;
top: 0px;
bottom: 0px;
left: 0px;
right: 0px;
}

#navigation {
    position: fixed;
    width: 250px;
    height: 100%;
    border-right: 1px solid black;
}

#pages {
    margin-left: 270px; /* 250px + 20px of actual margin */
}

.page {
    position: relative;
    display: none;
    overflow: scroll;
}





</style>


        <div id="content">
            <div id="navigation">
                <h1>Navigation</h1>
                <ul>
                    <li><a href="#page1" class="page-link">Page 1</a></li>
                    <li><a href="#page2" class="page-link">Page 2</a></li>
                </ul>
            </div>
            
            <div id="pages">
                <div id="page1" class="page">
                    <h1>Page 1</h1>
                    <p>This is all the lovely content on page 1.</p>
                    <p>Let's add a bunch of stuff to make it scroll.</p>
                    <p style="font-size: 72px">.<br/>.<br/>.<br/>.<br/>.<br/>.</p>
                    <p>This is at the bottom of the page.</p>
                </div>
                
                <div id="page2" class="page">
                    <h1>Page 2</h1>
                    <p>This is all the lovely content on page 2.</p>
                </div>
            </div>
        </div>


<div id="container" style="width:1349px";>


<div id="header" style="background-color:rgb(239, 232, 213); box-shadow: rgba(0, 0, 0, 0.701961) 0px 0px 5px 0px;
border-top: 7px solid rgb(47, 46, 42); border-bottom: 0px solid rgb(47, 46, 42); height: 188px; left: -185px";>


<div id="SITE_STRUCTURE" skin="skins.core.InlineSkin" comp="wysiwyg.viewer.components.WSiteStructure" class="SITE_STRUCTURE" style="visibility: visible; padding-bottom: 0px; width: 980px; min-height: 990px; margin-left: auto; margin-right: auto">
</div>

<div skinpart="centeredContent" class="wysiwyg_viewer_skins_screenwidthcontainer_ShadowBottomScreenhc3-centeredContent" 
style="width: 980px; margin-left: 0px;">

<div skinpart="bg" class="wysiwyg_viewer_skins_screenwidthcontainer_ShadowBottomScreenhc3-bg"></div>


      <div skinpart="inlineContent" class="wysiwyg_viewer_skins_screenwidthcontainer_ShadowBottomScreenhc3-inlineContent">
        <div id="WPht4" skin="wysiwyg.viewer.skins.photo.NoSkinPhoto" comp="wysiwyg.viewer.components.WPhoto" dataquery="#c19s6" propertyquery="#WPht4" width="240" height="130" x="372" y="26" scale="1" angle="0" styleid="wp2" state="noTouch" class="wysiwyg_viewer_skins_photo_NoSkinPhotowp2 " title="" style="visibility: visible; left: 550px; top: 26px; min-width: 240px; 
        min-height: 129px; position: absolute;">


          <a skinpart="link" class="wysiwyg_viewer_skins_photo_NoSkinPhotowp2-link" style="cursor: default;">


          <div skinpart="img" skin="skins.core.ImageNewSkinZoomable" comp="core.components.image.ImageNew" id="mgNw0-10us" styleid="" class="skins_core_ImageNewSkinZoomable" dataquery="#c19s6" style="visibility: visible; width: 240px; height: 129px;">
            <img skinpart="image" 
            class="skins_core_ImageNewSkinZoomable-image" 
            alt="" 
         src="http://static.wixstatic.com/media/41d000_884a2cfdd22eef3773ab41cd174e62eb.png_srz_p_240_129_75_22_0.50_1.20_0.00_png_srz" style="margin-top: 0px; margin-left: 0px; width: 240px; height: 129px;">
          </div></a></div>

        <div id="WRchTxt1" comp="wysiwyg.viewer.components.WRichText" dataquery="#c2x1" width="145" height="40" x="425" y="9"
         scale="1" angle="0" styleid="txt1" skin="wysiwyg.viewer.skins.WRichTextSkin" class="wysiwyg_viewer_skins_WRichTextSkintxt1" style="visibility: visible; left: 602px; top: 9px; width: 145px; min-height: 40px; position: absolute;">

         <div skinpart="richTextContainer" class="richTextContainer wysiwyg_viewer_skins_WRichTextSkintxt1-richTextContainer">

          <p class="alignCenter" style="">
  <span class="font_0"><span class="color_20">LORENZI</span></span></p>
<p>
  &nbsp;</p>
</div></div>



<div id="DrpDwnMn0-115i" comp="wysiwyg.viewer.components.menus.DropDownMenu" dataquery="#MAIN_MENU" propertyquery="#DrpDwnMn0-115i" width="940" height="33" x="22" y="156" scale="1" angle="0" class="wysiwyg_common_components_dropdownmenu_viewer_skins_SolidColorMenuButtonSkinddm2" styleid="ddm2" skin="wysiwyg.common.components.dropdownmenu.viewer.skins.SolidColorMenuButtonSkin" style="visibility: visible; left: 192px; top: 155px; width: 940px; min-height: 33px; position: absolute;">

  <div skinpart="itemsContainer" class="wysiwyg_common_components_dropdownmenu_viewer_skins_SolidColorMenuButtonSkinddm2-itemsContainer" style="text-align: center; height: 33px; width: 940px; overflow: visible; white-space: nowrap; display: inherit;">

    <div skinpart="repeaterButton" comp="core.components.MenuButton" dataquery="#mainPage" id="MnBttn1-170c" styleid="ddm2" skin="wysiwyg.viewer.skins.dropmenubutton.SolidColorMenuButtonNSkin" class="wysiwyg_viewer_skins_dropmenubutton_SolidColorMenuButtonNSkinddm2 " container="menu" listposition="left" state="selected" style="visibility: visible; position: relative; -webkit-transition: 0.4s; transition: 0.4s;">
      <div class="wysiwyg_viewer_skins_dropmenubutton_SolidColorMenuButtonNSkinddm2-c-gapper">
        <div skinpart="bg" style="padding: 0px 56px;">
          <p skinpart="label" class="wysiwyg_viewer_skins_dropmenubutton_SolidColorMenuButtonNSkinddm2-label" style="line-height: 33px; width: auto;">Home</p>
    </div></div></div>

    <div skinpart="repeaterButton" comp="core.components.MenuButton" dataquery="#c1alk" id="MnBttn2-gmr" styleid="ddm2" skin="wysiwyg.viewer.skins.dropmenubutton.SolidColorMenuButtonNSkin" class="wysiwyg_viewer_skins_dropmenubutton_SolidColorMenuButtonNSkinddm2 " container="menu" listposition="center" state="" style="visibility: visible; position: relative; -webkit-transition: 0.4s; transition: 0.4s;">
            <div class="wysiwyg_viewer_skins_dropmenubutton_SolidColorMenuButtonNSkinddm2-c-gapper">
              <div skinpart="bg" style="padding: 0px 56px;">
                <p skinpart="label" class="wysiwyg_viewer_skins_dropmenubutton_SolidColorMenuButtonNSkinddm2-label" style="line-height: 33px; width: auto;">Who&nbsp;We&nbsp;Are</p>
    </div></div></div>

    <div skinpart="repeaterButton" comp="core.components.MenuButton" dataquery="#cvc5" id="MnBttn3-1987" styleid="ddm2" skin="wysiwyg.viewer.skins.dropmenubutton.SolidColorMenuButtonNSkin" class="wysiwyg_viewer_skins_dropmenubutton_SolidColorMenuButtonNSkinddm2 " container="menu" listposition="center" state="" style="visibility: visible; position: relative; -webkit-transition: 0.4s; transition: 0.4s;">
                <div class="wysiwyg_viewer_skins_dropmenubutton_SolidColorMenuButtonNSkinddm2-c-gapper">
                <div skinpart="bg" style="padding: 0px 55px;">
                  <p skinpart="label" class="wysiwyg_viewer_skins_dropmenubutton_SolidColorMenuButtonNSkinddm2-label" style="line-height: 33px; width: auto;">Our&nbsp;Sauces</p>
    </div></div></div>

    <div skinpart="repeaterButton" comp="core.components.MenuButton" dataquery="#c3zk" id="MnBttn4-oow" styleid="ddm2" 
      skin="wysiwyg.viewer.skins.dropmenubutton.SolidColorMenuButtonNSkin" class="wysiwyg_viewer_skins_dropmenubutton_SolidColorMenuButtonNSkinddm2 " container="menu" listposition="center" state="" style="visibility: visible; position: relative; -webkit-transition: 0.4s; transition: 0.4s;">
      <div class="wysiwyg_viewer_skins_dropmenubutton_SolidColorMenuButtonNSkinddm2-c-gapper">
        <div skinpart="bg" style="padding: 0px 56px 0px 55px;"><p skinpart="label" class="wysiwyg_viewer_skins_dropmenubutton_SolidColorMenuButtonNSkinddm2-label" style="line-height: 33px; width: auto;">Recipes</p>
    </div></div></div>

    <div skinpart="repeaterButton" comp="core.components.MenuButton" dataquery="#c24vq" id="MnBttn5-3fa" styleid="ddm2" skin="wysiwyg.viewer.skins.dropmenubutton.SolidColorMenuButtonNSkin" class="wysiwyg_viewer_skins_dropmenubutton_SolidColorMenuButtonNSkinddm2 " container="menu" listposition="right" state="" style="visibility: visible; position: relative; -webkit-transition: 0.4s; transition: 0.4s;"><div class="wysiwyg_viewer_skins_dropmenubutton_SolidColorMenuButtonNSkinddm2-c-gapper">
          <div skinpart="bg" style="padding: 0px 56px;">
            <p skinpart="label" class="wysiwyg_viewer_skins_dropmenubutton_SolidColorMenuButtonNSkinddm2-label" style="line-height: 33px; width: auto;">Contact</p>
    </div></div></div></div>

    <div skinpart="dropWrapper" class="wysiwyg_common_components_dropdownmenu_viewer_skins_SolidColorMenuButtonSkinddm2-dropWrapper" drophposition="center" dropalign="center" dropmode="dropDown" style="display: none; visibility: hidden; zoom: 1; opacity: 0; width: 197px; text-align: center; left: 384px; right: auto; bottom: auto; z-index: 99999;">
          <div skinpart="moreContainer" class="wysiwyg_common_components_dropdownmenu_viewer_skins_SolidColorMenuButtonSkinddm2-moreContainer">
          <div skinpart="repeaterButton" comp="core.components.MenuButton" dataquery="#cfvg" id="MnBttn6-8h7" styleid="ddm2" skin="wysiwyg.viewer.skins.dropmenubutton.SolidColorMenuButtonNSkin" class="wysiwyg_viewer_skins_dropmenubutton_SolidColorMenuButtonNSkinddm2 " state="" listposition="dropLonely" container="drop" style="visibility: inherit; position: relative;">
            <div class="wysiwyg_viewer_skins_dropmenubutton_SolidColorMenuButtonNSkinddm2-c-gapper"><div skinpart="bg" style="padding: 0px;">
              <p skinpart="label" class="wysiwyg_viewer_skins_dropmenubutton_SolidColorMenuButtonNSkinddm2-label" style="line-height: 31px;">Stockists</p>
      </div></div></div>

  </div></div></div>

<div id="WRchTxti-tww" comp="wysiwyg.viewer.components.WRichText" dataquery="#1c8x" width="115" height="70" x="439" y="53" scale="1" angle="0" styleid="txtNew" skin="wysiwyg.viewer.skins.WRichTextNewSkin" class="wysiwyg_viewer_skins_WRichTextNewSkintxtNew" style="visibility: visible; left: 610px; top: 52px; width: 115px; min-height: 70px; position: absolute;">
  <h5 style="line-height: 0.9em; text-align: center;" class="font_5">
  <span style="line-height:0.9em;">
    <a dataquery="#Linkmz4" href="#!Home/mainPage" target="_self">​</a>
    <span class="color_2">Cucina Authentica</span></span></h5>

<p style="text-align: center; line-height: 1em;" class="font_8">

  <span style="line-height:1em;">PASTA SAUCE</span></p>

<p style="text-align: center; line-height: 2.25em;" class="font_9">
  <span style="line-height:2.25em;">since 1997</span></p>
</div>



<div id="PAGES_CONTAINER" comp="wysiwyg.viewer.components.PagesContainer" width="980" height="615" x="0" y="189" scale="1" angle="0" styleid="pc1" skin="wysiwyg.viewer.skins.screenwidthcontainer.BlankScreen" class="wysiwyg_viewer_skins_screenwidthcontainer_BlankScreenpc1" style="visibility: visible; width: 980px; min-height: 614px; top: 188px; position: absolute;">

  <div skinpart="screenWidthBackground" class="wysiwyg_viewer_skins_screenwidthcontainer_BlankScreenpc1-screenWidthBackground" style="position: absolute; width: 1349px; height: 614px; left: -185px;"></div>
  <div skinpart="centeredContent" class="wysiwyg_viewer_skins_screenwidthcontainer_BlankScreenpc1-centeredContent" style="width: 980px; margin-left: 0px;">
    <div skinpart="bg" class="wysiwyg_viewer_skins_screenwidthcontainer_BlankScreenpc1-bg"></div>
    <div skinpart="inlineContent" class="wysiwyg_viewer_skins_screenwidthcontainer_BlankScreenpc1-inlineContent">
      
  <div id="SITE_PAGES" skin="wysiwyg.viewer.skins.PageGroupSkin" comp="wysiwyg.viewer.components.PageGroup" propertyquery="#SITE_PAGES" width="980" height="604" x="0" y="0" scale="1" angle="0" styleid="" class="wysiwyg_viewer_skins_PageGroupSkin" style="visibility: visible; width: 980px; min-height: 603px; position: absolute;"><div skinpart="inlineContent" class="wysiwyg_viewer_skins_PageGroupSkin-inlineContent">
        
  <div id="mainPage" comp="mobile.core.components.Page" dataquery="#mainPage" width="980" height="604" x="0" y="0" scale="1" angle="0" class="wysiwyg_viewer_skins_page_TransparentPageSkinp1 sitePage" styleid="p1" skin="wysiwyg.viewer.skins.page.TransparentPageSkin" style="visibility: visible; min-height: 603px; position: absolute; top: 0px; left: 183px; width: 980px; zoom: 1; opacity: 1;">
      <div skinpart="bg" class="wysiwyg_viewer_skins_page_TransparentPageSkinp1-bg"></div>
        <div skinpart="inlineContent" class="wysiwyg_viewer_skins_page_TransparentPageSkinp1-inlineContent">

      <div id="Cntnr0" skin="wysiwyg.viewer.skins.area.LiftedShadowArea" comp="mobile.core.components.Container" width="305" height="193" x="20" y="411" scale="1" angle="0" styleid="c4" state="desktopView" class="wysiwyg_viewer_skins_area_LiftedShadowAreac4" style="visibility: visible; left: 20px; top: 411px; min-width: 305px; min-height: 192px; position: absolute;">
        <div class="wysiwyg_viewer_skins_area_LiftedShadowAreac4-c-shd wysiwyg_viewer_skins_area_LiftedShadowAreac4-c-left"></div>
        <div class="wysiwyg_viewer_skins_area_LiftedShadowAreac4-c-shd wysiwyg_viewer_skins_area_LiftedShadowAreac4-c-right"></div>
        <div skinpart="bg" class="wysiwyg_viewer_skins_area_LiftedShadowAreac4-bg"></div>
        <div skinpart="inlineContent" class="wysiwyg_viewer_skins_area_LiftedShadowAreac4-inlineContent">
        <div id="WRchTxts" comp="wysiwyg.viewer.components.WRichText" dataquery="#bu4" width="240" height="143" x="30" y="7" scale="1" angle="0" styleid="txtNew" skin="wysiwyg.viewer.skins.WRichTextNewSkin" class="wysiwyg_viewer_skins_WRichTextNewSkintxtNew" style="visibility: visible; left: 30px; top: 7px; width: 240px; min-height: 143px; position: absolute;">
          <h4 style="line-height: 1.5em; text-align: center;" class="font_4">
          <span style="line-height:1.5em;">
          <span class="color_21">Who We Are</span></span></h4>
          <p style="text-align: center; line-height: 1.5em;" class="font_8">
          <span style="line-height:1.5em;"><span class="color_16">I'm a paragraph. Click here to add your own text and edit me. I’m a great place for you to tell a story and let your users know a little more about you.</span></span></p>
</div>
    <div id="StBttn0" comp="wysiwyg.viewer.components.SiteButton" dataquery="#cxvy" propertyquery="#StBttn0" width="130" height="30" x="87" y="153" scale="1" angle="0" styleid="b2" skin="wysiwyg.viewer.skins.button.TextOnlyButtonSkin" class="wysiwyg_viewer_skins_button_TextOnlyButtonSkinb2 focusable" tabindex="0" style="visibility: visible; left: 87px; top: 152px; width: 130px; min-height: 30px; position: absolute;"><a skinpart="link" class="wysiwyg_viewer_skins_button_TextOnlyButtonSkinb2-link" href="#!who_we_are/c1alk" target="_self" style="text-align: center; cursor: pointer;">
  <span skinpart="label" class="wysiwyg_viewer_skins_button_TextOnlyButtonSkinb2-label" style="line-height: 30px;">Read More &gt;</span></a>
</div></div></div>



        <div id="Cntnr1" skin="wysiwyg.viewer.skins.area.LiftedShadowArea" comp="mobile.core.components.Container" width="305" height="193" x="337" y="411" scale="1" angle="0" styleid="c4" state="desktopView" class="wysiwyg_viewer_skins_area_LiftedShadowAreac4" style="visibility: visible; left: 337px; top: 411px; min-width: 305px; min-height: 192px; position: absolute;"><div class="wysiwyg_viewer_skins_area_LiftedShadowAreac4-c-shd wysiwyg_viewer_skins_area_LiftedShadowAreac4-c-left"></div><div class="wysiwyg_viewer_skins_area_LiftedShadowAreac4-c-shd wysiwyg_viewer_skins_area_LiftedShadowAreac4-c-right"></div><div skinpart="bg" class="wysiwyg_viewer_skins_area_LiftedShadowAreac4-bg"></div><div skinpart="inlineContent" class="wysiwyg_viewer_skins_area_LiftedShadowAreac4-inlineContent"><div id="WRchTxt4" comp="wysiwyg.viewer.components.WRichText" dataquery="#10ud" width="240" height="143" x="34" y="7" scale="1" angle="0" styleid="txtNew" skin="wysiwyg.viewer.skins.WRichTextNewSkin" class="wysiwyg_viewer_skins_WRichTextNewSkintxtNew" style="visibility: visible; left: 34px; top: 7px; width: 240px; min-height: 143px; position: absolute;"><h4 style="line-height: 1.5em; text-align: center;" class="font_4"><span style="line-height:1.5em;"><span class="color_21">Our Sauces</span></span></h4>

<p style="text-align: center; line-height: 1.5em;" class="font_8"><span style="line-height:1.5em;"><span class="color_16">I'm a paragraph. Click here to add your own text and edit me. I’m a great place for you to tell a story and let your users know a little more about you.</span></span></p>
</div><div id="StBttn1" comp="wysiwyg.viewer.components.SiteButton" dataquery="#c1sb9" propertyquery="#c12fj" width="130" height="30" x="89" y="152" scale="1" angle="0" styleid="b2" skin="wysiwyg.viewer.skins.button.TextOnlyButtonSkin" class="wysiwyg_viewer_skins_button_TextOnlyButtonSkinb2 focusable" tabindex="0" style="visibility: visible; left: 89px; top: 151px; width: 130px; min-height: 30px; position: absolute;"><a skinpart="link" class="wysiwyg_viewer_skins_button_TextOnlyButtonSkinb2-link" href="#!our_sauces/cvc5" target="_self" style="text-align: center; cursor: pointer;"><span skinpart="label" class="wysiwyg_viewer_skins_button_TextOnlyButtonSkinb2-label" style="line-height: 30px;">Read More &gt;</span></a></div></div></div>



        <div id="Cntnr2" skin="wysiwyg.viewer.skins.area.LiftedShadowArea" comp="mobile.core.components.Container" width="305" height="193" x="653" y="411" scale="1" angle="0" styleid="c4" state="desktopView" class="wysiwyg_viewer_skins_area_LiftedShadowAreac4" style="visibility: visible; left: 653px; top: 411px; min-width: 305px; min-height: 192px; position: absolute;"><div class="wysiwyg_viewer_skins_area_LiftedShadowAreac4-c-shd wysiwyg_viewer_skins_area_LiftedShadowAreac4-c-left"></div><div class="wysiwyg_viewer_skins_area_LiftedShadowAreac4-c-shd wysiwyg_viewer_skins_area_LiftedShadowAreac4-c-right"></div><div skinpart="bg" class="wysiwyg_viewer_skins_area_LiftedShadowAreac4-bg"></div><div skinpart="inlineContent" class="wysiwyg_viewer_skins_area_LiftedShadowAreac4-inlineContent"><div id="WRchTxt2" comp="wysiwyg.viewer.components.WRichText" dataquery="#1fky" width="240" height="143" x="34" y="8" scale="1" angle="0" styleid="txtNew" skin="wysiwyg.viewer.skins.WRichTextNewSkin" class="wysiwyg_viewer_skins_WRichTextNewSkintxtNew" style="visibility: visible; left: 34px; top: 8px; width: 240px; min-height: 143px; position: absolute;"><h4 style="line-height: 1.5em; text-align: center;" class="font_4"><span style="line-height:1.5em;"><span class="color_21">Recipes</span></span></h4>

<p style="text-align: center; line-height: 1.5em;" class="font_8"><span style="line-height:1.5em;"><span class="color_16">I'm a paragraph. Click here to add your own text and edit me. I’m a great place for you to tell a story and let your users know a little more about you.</span></span></p>
</div><div id="StBttn2" comp="wysiwyg.viewer.components.SiteButton" dataquery="#c13o3" propertyquery="#c23pr" width="130" height="30" x="87" y="154" scale="1" angle="0" styleid="b2" skin="wysiwyg.viewer.skins.button.TextOnlyButtonSkin" class="wysiwyg_viewer_skins_button_TextOnlyButtonSkinb2 focusable" tabindex="0" style="visibility: visible; left: 87px; top: 153px; width: 130px; min-height: 30px; position: absolute;"><a skinpart="link" class="wysiwyg_viewer_skins_button_TextOnlyButtonSkinb2-link" href="#!recipes/c3zk" target="_self" style="text-align: center; cursor: pointer;"><span skinpart="label" class="wysiwyg_viewer_skins_button_TextOnlyButtonSkinb2-label" style="line-height: 30px;">Read More &gt;</span></a></div></div></div>



      <div id="WPhta" skin="wysiwyg.viewer.skins.photo.NoSkinPhoto" comp="wysiwyg.viewer.components.WPhoto" dataquery="#ck11" propertyquery="#WPhta" width="960" height="415" x="11" y="24" scale="1" angle="0" styleid="wp2" state="noTouch" class="wysiwyg_viewer_skins_photo_NoSkinPhotowp2 " title="" style="visibility: visible; left: 11px; top: 24px; min-width: 960px; min-height: 415px; position: absolute;"><a skinpart="link" class="wysiwyg_viewer_skins_photo_NoSkinPhotowp2-link" style="cursor: default;"><div skinpart="img" skin="skins.core.ImageNewSkinZoomable" comp="core.components.image.ImageNew" id="mgNw1-1ej" styleid="" class="skins_core_ImageNewSkinZoomable" dataquery="#ck11" style="visibility: visible; width: 960px; height: 415px;"><img skinpart="image" class="skins_core_ImageNewSkinZoomable-image" alt="" src="http://static.wixstatic.com/media/41d000_71ed70cbd53f0e9bd17e625d82df8ab1.png_srz_p_960_415_75_22_0.50_1.20_0.00_png_srz" style="margin-top: 0px; margin-left: 0px; width: 960px; height: 415px;"></div></a></div></div></div>
      <div id="cfvg" skin="mobile.core.skins.InlineSkin" comp="mobile.core.components.Page" dataquery="#cfvg" class="sitePage"></div><div id="c1alk" skin="mobile.core.skins.InlineSkin" comp="mobile.core.components.Page" dataquery="#c1alk" class="sitePage"></div><div id="c24vq" skin="mobile.core.skins.InlineSkin" comp="mobile.core.components.Page" dataquery="#c24vq" class="sitePage"></div><div id="c3zk" skin="mobile.core.skins.InlineSkin" comp="mobile.core.components.Page" dataquery="#c3zk" class="sitePage"></div><div id="cvc5" skin="mobile.core.skins.InlineSkin" comp="mobile.core.components.Page" dataquery="#cvc5" class="sitePage"></div></div><div skinpart="overlay" class="wysiwyg_viewer_skins_PageGroupSkin-overlay hidden"></div></div></div></div></div>




<div id="SITE_FOOTER" comp="wysiwyg.viewer.components.FooterContainer" width="980" height="175" x="0" y="817" scale="1" angle="0" class="wysiwyg_viewer_skins_screenwidthcontainer_TransparentScreenfc1" styleid="fc1" skin="wysiwyg.viewer.skins.screenwidthcontainer.TransparentScreen" style="visibility: visible; position: absolute; bottom: auto; width: 980px; min-height: 175px; top: 815px;">

  <div skinpart="screenWidthBackground" class="wysiwyg_viewer_skins_screenwidthcontainer_TransparentScreenfc1-screenWidthBackground" style="position: absolute; width: 1349px; height: 175px; left: -185px;"></div>

  <div skinpart="centeredContent" class="wysiwyg_viewer_skins_screenwidthcontainer_TransparentScreenfc1-centeredContent" style="width: 980px; margin-left: 0px;"><div skinpart="bg" class="wysiwyg_viewer_skins_screenwidthcontainer_TransparentScreenfc1-bg"></div>



  
<div id="SITE_HEADER" comp="wysiwyg.viewer.components.HeaderContainer" width="980" height="189" x="0" y="0" scale="1" angle="0" 
pos="fixed" class="fixedPosition wysiwyg_viewer_skins_screenwidthcontainer_ShadowBottomScreenhc3" styleid="hc3" 
skin="wysiwyg.viewer.skins.screenwidthcontainer.ShadowBottomScreen" style="visibility: visible; position: fixed; width: 980px; min-height: 188px;">
<div class="wysiwyg_viewer_skins_screenwidthcontainer_ShadowBottomScreenhc3-c-lnwysiwyg_viewer_skins_screenwidthcontainer_ShadowBottomScreenhc3-c-left"></div>
<div class="wysiwyg_viewer_skins_screenwidthcontainer_ShadowBottomScreenhc3-c-ln wysiwyg_viewer_skins_screenwidthcontainer_ShadowBottomScreenhc3-c-center"></div>
<div class="wysiwyg_viewer_skins_screenwidthcontainer_ShadowBottomScreenhc3-c-ln wysiwyg_viewer_skins_screenwidthcontainer_ShadowBottomScreenhc3-c-right"></div>

<div skinpart="screenWidthBackground" class="wysiwyg_viewer_skins_screenwidthcontainer_ShadowBottomScreenhc3-screenWidthBackground" style="position: absolute; width: 1349px; height: 188px; left: -185px;">
<div class="wysiwyg_viewer_skins_screenwidthcontainer_ShadowBottomScreenhc3-c-bg"></div>

</div>



      

<%= yield %>  

</body>
</html>
